<style>
    body{
        background-image: url("https://i.pinimg.com/originals/f4/3b/d0/f43bd027db1cc9c0b4665415a11ffd5c.jpg");
}
</style>

<div class="jumbotron">
    <h1 class="display-4"><em>Seja Bem-Vindo!</em></h1>
    <p class="lead"><em>Gerencie facilmente hotéis, hóspedes e reservas com o</em> <strong>G&E Host Hotel!<strong>
    <hr class="my-4">
    <p><small><em>Para começar escolha uma das opções abaixo:</em> <small></p>
    <!-- Partial para o menu -->
    <%= render "menu" %>
</div>
