<style>
    body{
        background-image: url("https://images.unsplash.com/photo-1615714144820-cdd7c81a66dc?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1MXx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60s");
        background-size: 1370px 670px;
}
</style>

<div class="jumbotron">
    <h1 class="display-4"><em>Seja Bem-Vindo!</em></h1>
    <p class="lead"><em>Gerencie facilmente hotéis, hóspedes e reservas com o</em> <strong>G&E Host Hotel!<strong>
    <hr class="my-4">
    <p><small><em>Para começar escolha uma das opções abaixo:</em> <small></p>
    <!-- Partial para o menu -->
    <%= render "menu" %>
</div>
