# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\temp\ws-Ruby\hotelaria\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
